@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background:none;
}
h1{
    color: black;
}
.btnColor {
    border-radius: 100%;
    border: 10px solid currentColor+100;
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
#C1 {
    background: #F50606;
}
#C2 {
    background: #00C12B;
}
#C3 {
    background: #F57906;
}
#C4 {
    background: #06CAF5;
}
#C5 {
    background: #063AF5;
}
#C6 {
    background: #F506A4;
}
#C7 {
    background: #7D06F5;
}
#C8 {
    background: white;
}
#C9 {
    background: black;
}
#C10 {
    background: #F5DD06;
}

.btnType{    
    width: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    background-color: #FFFFFF ;
    color: black;
    opacity: 60%;
    cursor: pointer;
    text-align: left;
    transition: opacity 0.25s;
}
.liType{
    width: 100%;
}
.btnType:hover{
    opacity: 100%;
}
.btnSize{    
    width: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    background-color: #FFFFFF ;
    color: black;
    opacity: 60%;
    cursor: pointer;
    text-align: left;
    transition: opacity 0.25s;
}
.btnStyle{    
    width: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    background-color: #FFFFFF ;
    color: black;
    opacity: 60%;
    cursor: pointer;
    text-align: left;
    transition: opacity 0.25s;
}
